APP_ENV=development
GCP_PROJECT_ID=cashsathi-local
FIRESTORE_DATABASE_ID=(default)
CORS_ALLOWED_ORIGINS=http://localhost:3000
LOG_LEVEL=INFO
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
